@using Attila.Application.Coordinator.Events.Queries
@{
    ViewData["Title"] = "AddServiceCharge";
}
@model AdditionalEventFeeVM

 

<div class="container-fluid">
    <h3 class="text-dark mb-4">Service Charge </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <form role="form" asp-controller="Events" asp-action="AddServiceCharge" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccessEquipment">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold">  </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold"> <button class="btn btn-primary btn-sm" type="submit">Add Service Charge</button></p>
                                    </div>
                                </div>

                                <input type="hidden" class="form-control" asp-for="EventID" readonly>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="food_details"><strong>Description</strong></label>
                                            <input type="text" class="form-control" asp-for="Description" placeholder="" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="delivery_details"><strong>Item</strong></label>
                                            <input type="text" class="form-control" asp-for="Item" placeholder="" required>



                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="ContactNumber"><strong>Quantity</strong></label>
                                            <input type="text" class="form-control" asp-for="Quantity" placeholder="" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address"><strong>Price Per Quantity</strong></label>


                                            <input type="text" class="form-control" asp-for="PricePerQuantity" placeholder="" required>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        function OnSucces(result) {
             
        var id = @Model.EventID; 
            var url = window.location.href = '/Events/ServiceCharge?id=' + id;
            window.location.href = url.replace('__id__', id);


            
        }

    </script>




    <partial name="_ValidationScriptsPartial" />

}