@model Attila.UI.Models.AddEventCVM

@{
    ViewData["Title"] = "Booking Form";
}


<div class="container-fluid">
    <h3 class="text-dark mb-4">New Event </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">

                    <form role="form" asp-controller="Events" asp-action="AddEvent" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"> </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold"> <button class="btn btn-primary btn-sm" type="submit">Register Event</button></p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="address"><strong>Client</strong></label>
                                                @Html.DropDownListFor(m => m.Event.EventClientID, Model.ClientList, "--SELECT CLIENT--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Event Type</strong></label>
                                                <select id="txtType" asp-for="Event.Type" class="form-control" required>
                                                    <option value="None">--SELECT TYPE OF OCCASION--</option>
                                                    <option value="Baptismal">Baptismal</option>
                                                    <option value="Birthday">Birthday</option>
                                                    <option value="Graduation">Graduation</option>
                                                    <option value="Meeting">Meeting </option>
                                                    <option value="Wedding">Wedding</option>
                                                    <option value="Others">Others</option>
                                                </select>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Event Name</strong></label>

                                                <input type="text" asp-for="Event.EventName" placeholder="John Smith's 70th Birthday" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Event Date</strong></label>

                                                <input type="date" asp-for="Event.EventDate" placeholder="John Smith's 70th Birthday" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Theme</strong></label>


                                                <input type="text" class="form-control" placeholder="Mermaid /Aqua " asp-for="Event.Theme" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Description</strong></label>

                                                <input type="text" asp-for="Event.Description" placeholder="For Friends and Family" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Event's Location</strong></label>


                                                <input type="text" class="form-control" placeholder="Address" asp-for="Event.Location" required>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Location Type</strong></label>
                                                <select id="txtType" asp-for="Event.LocationType" class="form-control" required>
                                                    <option value="1">North Area - Min. 50,000PHP</option>
                                                    <option value="2">South Area - Max. 35,000PHP </option>

                                                </select>



                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Entry Time</strong></label>
                                                <input type="time" placeholder="12:30 PM" data-format="hh:mm A" class="form-control" asp-for="Event.EntryTime" required />


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Program Starts at </strong></label>
                                                <input type="time" placeholder="12:30 PM" data-format="hh:mm A" class="form-control" asp-for="Event.ProgramStart" required />


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Serving Time </strong></label>
                                                <input type="time" placeholder="12:30 PM" data-format="hh:mm A" class="form-control" asp-for="Event.ServingTime" required />


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Serving Type </strong></label>
                                                <select id="txtType" asp-for="Event.ServingType" class="form-control" required>
                                                    <option value="ManageBuffet">Manage Buffet</option>
                                                    <option value="SelfServiceBuffet">Self-Service Buffet</option>

                                                </select>


                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Is Venue in Building/Condominium?</strong></label>
                                                <select id="txtType" asp-for="Event.VenueType" class="form-control" required>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">

                                                <label for="first_name"><strong>Event Package</strong></label>
                                                @Html.DropDownListFor(m => m.Event.PackageDetailsID, Model.PackageList, "--SELECT PACKAGE--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Number of Guests</strong></label>
                                                <input type="number" class="form-control" placeholder="" asp-for="Event.NumberOfGuests" required>

                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong>Remarks</strong></label>


                                                <textarea class="form-control" rows="4" asp-for="Event.Remarks" name="remarks"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="first_name"><strong> </strong></label>

                                                <div class="row align-items-center no-gutters">
                                                    <div class="col mr-2">
                                                        <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-3"  ><label class="custom-control-label" for="formCheck-3"></label></div>

                                                    </div>
                                                    <div class="col-auto">
                                                        <h6 class="mb-0"><strong>I agree to the Terms & Conditions of the management about their services.</strong></h6><span class="text-xs"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h4 class="text-primary font-weight-bold m-0">Terms & Conditions</h4>
                                </div>
                                <ul class="list-group list-group-flush">

                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0">Minimum of  <strong>35, 000 PHP</strong>  is required for a Catering Service in South Area, while <strong>50, 000 PHP</strong>  in North Area.</h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Additional Transportation Fee</strong>  (actual cost may vary based on the location on the extent of actual set up).</h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Final Menu</strong>  choices should be 2 weeks before the event date, while 1 week for the <strong>final number of attendees</strong>.</h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>All catering equipment   (tables, chairs, buffet and dinning set-up) is strictly to be used for Arlene’s Catering Services only.</strong></h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Additional fee </strong>for any catering equipment requested by client..</h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0">Service Fee for Venue in Condominium or Bldg. is  <strong>3,500 PHP.</strong></h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Additional P 1,000.00 per Hour </strong>beyond the prior agreed time.</h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Any loss or damage of catering equipment and centerpieces,  will be charged to client.</strong></h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Services are limited  to 4 hours for lunch and dinner only, 3 hours for cocktails, exclusive of set/up preparations.</strong></h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Php 5,000.00 down payment upon signing the booking form</strong>, remaining balance should be <strong>paid on the day of the event.</strong></h6><span class="text-xs"> </span>
                                            </div>

                                        </div>
                                    </li>






                                </ul>

                            </div>


                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">


        function OnSuccess(result) {
            window.location.href = "/Events/Index";
        }

        function OnFailure(result) {
            alert("Failed!");
            window.location = "/Events/BookingForm";
        }




    </script>
}


