@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EventViewCVM

<style>
    .event-link {
        color: black;
        font-weight:bold;
    }

    .event-link:hover {
        text-decoration:underline !important; 
    }
</style>

<div id="content" class="container-fluid" style="margin-top: 10px;">
    <div class="card shadow">
        <div class="card-header py-3">
            Events
        </div>
        <div class="card-body">
            <kendo-tabstrip name="tabstrip">
                <popup-animation>
                    <open effects="fade:in" />
                </popup-animation>
                <items>
                    <tabstrip-item text="Pending" selected="true">
                        <content>
                            <kendo-grid name="grdPendingEvents">
                                <datasource type="DataSourceTagHelperType.Ajax" server-operation="true">
                                    <transport>
                                        <read url="/Events/GetPendingEventsQuery" />
                                    </transport>
                                    <sorts>
                                        <sort field="BookingDate" direction="desc" />
                                    </sorts>
                                    <schema>
                                        <model>
                                            <fields>
                                                <field name="BookingDate" type="Date" />
                                                <field name="EventDate" type="Date" />
                                            </fields>
                                        </model>
                                    </schema>
                                </datasource>
                                <toolbar>
                                    <toolbar-button name="search"></toolbar-button>
                                </toolbar>
                                <search fields="@(new[] { "EventName" })" />
                                <no-records template="<p>No records found</p>" />
                                <pageable enabled="true" refresh="true" />
                                <columns>
                                    <column field="BookingDate" format="{0:MMM dd, yyyy}" title="Booking Date" width="120" />
                                    <column field="EventDate" format="{0:MMM dd, yyyy}" title="Event Date" width="120" />
                                    <column field="EventName" template="<a class='event-link' href='/Events/Details?EventID=#=ID#'>#=EventName#</a>" title="Event" />
                                    <column field="Client.Name" title="Client" width="200" />
                                </columns>
                            </kendo-grid>
                        </content>
                    </tabstrip-item>
                    <tabstrip-item text="Incoming">
                        <content>
                            <b>Another grid for incoming events</b>
                        </content>
                    </tabstrip-item>
                    <tabstrip-item text="Completed">
                        <content>
                            <b>Another grid for completed events</b>
                        </content>
                    </tabstrip-item>
                    <tabstrip-item text="Closed">
                        <content>
                            <b>Another grid for closed events</b>
                        </content>
                    </tabstrip-item>
                    <tabstrip-item text="Cancelled">
                        <content>
                            <b>Another grid for cancelled events</b>
                        </content>
                    </tabstrip-item>
                </items>
            </kendo-tabstrip>
        </div>
    </div>
</div>
