@model Attila.UI.Models.AddEventMenuCVM
@{
    ViewData["Title"] = "Menu Form";
}

<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Menu Form
            <small> </small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">

        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Event: @Model.Event.EventName | @Model.Event.EventDate</span>
                </div>

            </div>
            <div class="portlet-body form">
                <form role="form" asp-controller="Events" asp-action="AddMenu" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Category: </label>
                            @Html.DropDownListFor(m => m.SelectedMenu, Model.Menu, "--SELECT Menu--", new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            <label>Event Name</label>
                            @*@foreach (var item in Model.GroupBy(u => u.Name, (key, items) => new { Name = key, Cost = items.Sum(u => u.Cost) }))
                                {
                                    <tr>
                                        <td class="js-export-checkbox">
                                            @Html.CheckBoxFor(modelItem => Model.Menu[i].ToExport)
                                        </td>
                                    </tr>}*@


                        </div>

                    </div>



                    <div class="form-actions">
                        <button type="submit" id="btnSubmit" class="btn blue">Submit</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>

                </form>






            </div>



        </div>
    </div>
    <!-- End: life time stats -->
</div>

@section Scripts{
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>

    <script src="../assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        function OnSuccess(e) {
            $("#successrequests").modal('show');
            if (e == true) {
                console.log("success");
                alert("Event menu successfully added!");
                window.location = "/Events";
            }
            //}

            function OnFailure(e) {
                console.log(e);
                alert("failed!");
                window.location = "/Events/MenuForm";
            }

    </script>
}
@section Styles{
    <link href="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
}