 

<div class="modal fade" id="successrequests" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="location.href='@Url.Action("Index", "Events")'" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Successful Event Registration</h4>
            </div>
            <div class="modal-body"> Event request was sent successfully! Wait for the Management Approval within 7 working days. Thank you!</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" onclick="location.href='@Url.Action("Index", "Events")'" data-dismiss="modal">Close</button> 
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>