@model Attila.UI.Models.EquipmentDetailsCVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

} 



<div class="container-fluid">
    <h3 class="text-dark mb-4">New Equipment Form </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <form role="form" asp-action="AddEquipment" asp-controller="Inventory" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess">

                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"> </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold"> <button class="btn btn-primary btn-sm" type="submit">Register</button></p>
                                    </div>
                                </div>




                               
                            </div>
                            <div class="card-body">


                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="specification"><strong>Name</strong></label>
                                            <input type="text" class="form-control" asp-for="Name" placeholder="Ex. Chair ">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="specification"><strong>Code</strong></label>
                                            <input type="text" class="form-control" asp-for="Code" placeholder="Ex. APPCHR1 ">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="specification"><strong>Description</strong></label>
                                            <input type="text" class="form-control" asp-for="Description" placeholder="ex.   1km ">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="description"><strong>Rental Fee</strong></label>
                                            <input type="number" class="form-control" asp-for="RentalFee" placeholder="">


                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="type_"><strong>Type</strong></label>
                                            <select class="form-control" required asp-for="EquipmentType">
                                                <optgroup label="EquipmentType">
                                                    <option value="" disabled selected> -- Select an option -- </option>
                                                    <option value="1">Consumable</option>
                                                    <option value="2">Non-Consumable</option>
                                                    <option value="3">Others</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="unit"><strong>Unit</strong></label>

                                            <select class="form-control" required>
                                                <optgroup label="Unit">
                                                    <option value="" disabled selected>Select your option</option>
                                                    <option value="1">Piece</option>
                                                    <option value="2">Box</option>
                                                    <option value="3">Dozen</option>
                                                    <option value="4">Others</option>

                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        function OnSuccess(e) {
            window.location.href = "/Inventory/Index"

        }

        function OnFailure(e) {
            alert("failed!");
        }

    </script>


    <partial name="_ValidationScriptsPartial" />
}
