@model EquipmentInventoryCVM

@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="container-fluid">
    <h3 class="text-dark mb-4">  Equipment Inventory Form </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <form role="form" asp-action="AddEquipmentInventory" asp-controller="Inventory" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess">

                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                                        <p class="text-primary m-0 font-weight-bold"> <button class="btn btn-primary btn-sm" type="submit">Submit</button></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="eqpdetails"><strong>Food Details</strong></label>
                                            @Html.DropDownListFor(m => m.EquipmentDetailsID, Model.EquipmentDetailsList, "--SELECT EQUIPMENT--", new { @class = "form-control", @id = "dropdown_equipment" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="delivery_details"><strong>Delivery Details</strong></label>
                                            @Html.DropDownListFor(m => m.DeliveryDetailsID, Model.EquipmentDeliveryList, "--SELECT DELIVERY--", new { @class = "form-control", @id = "dropdown_delivery" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="quantity_"><strong>Quantity</strong></label>
                                            <input type="number" class="form-control" asp-for="Quantity" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="exp_date"><strong>Price</strong></label>
                                            <input type="number" class="form-control" asp-for="ItemPrice" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="remarks"><strong>Remarks</strong></label>
                                            <input class="form-control" asp-for="Remarks" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        function OnSuccess(e) {
            window.location.href = "/Inventory/Index"


        }

        function OnFailure(e) {
            console.log(e);
            alert("failed!");
        }
        $('#dropdown_equipment').change(function () {
            var drpValue = $('#dropdown_equipment').val();
            if (drpValue == "Add New Equipment") {

                window.location.href = "/Inventory/AddEquipment";
            }
        });

        $('#dropdown_delivery').change(function () {
            var drpValue = $('#dropdown_delivery').val();
            if (drpValue == "Add New Delivery") {

                window.location.href = "/Inventory/AddInventoryDelivery";
            }
        });


    </script>

    <partial name="_ValidationScriptsPartial" />
}
