@model Attila.UI.Models.FoodDetailsVM

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
           Food Details Form
            <small> </small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">

        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light bordered">

            <div class="portlet-body form">
                <form role="form" asp-action="AddFoodDetails" asp-controller="Inventory" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess">

                 

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" asp-for="Name" placeholder="">
                    </div>

                    <div class="form-group">
                        <label>Code</label>
                        <input type="text" class="form-control" placeholder="FOOD123" asp-for="Code">
                    </div>

                    <div class="form-group">
                        <label>Specification</label>
                        <input type="text" class="form-control" asp-for="Specification" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" asp-for="Description" placeholder="">
                    </div>

                    <div class="form-group">
                        <label>Type of Food</label>
                        <select id="txtType" asp-for="FoodType" class="form-control">
                            <option value=""> -- select an option -- </option>
                            <option value="1">Perishable</option>
                            <option value="2">Non-perishable</option>
                            <option value="3">Others</option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label>Unit Type </label>
                        <select id="txtType" asp-for="Unit" class="form-control">
                            <option value=""> -- select an option -- </option>
                            <option value="1">Piece</option>
                            <option value="2">Box</option>
                            <option value="3">Dozen</option>
                            <option value="4">Others</option>

                        </select>
                    </div>
                


                    <div class="form-actions">
                        <button type="submit" id="btnSubmit" class="btn blue">Submit</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>

                </form>






            </div>



        </div>
    </div>
    <!-- End: life time stats -->
</div>

@section Scripts{
    <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>

    <script type="text/javascript">
          function OnSuccess(e){
                  $("#success").modal('show');  
       
           
        }

        function OnFailure(e) {
            console.log(e);
            alert("failed!");
        }

    </script>
    <partial name="partials/_SuccessfulRegistration" />

}
