@model FoodInventoryCVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

} 

<div class="container-fluid">
    <h3 class="text-dark mb-4">  Food Inventory Form </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3"></div>
                        <div class="card-body">
                            <form role="form" asp-action="AddFoodInventory" asp-controller="Inventory" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess"
                          data-ajax-failure="OnFailure">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="food_details"><strong>Food Details</strong></label>
                                            @Html.DropDownListFor(m => m.FoodDetailsID, Model.FoodDetailsList, "--SELECT FOOD--", new { @class = "form-control" , @id="dropdown_food" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="delivery_details"><strong>Delivery Details</strong></label>
                                            @Html.DropDownListFor(m => m.DeliveryDetailsID, Model.FoodDeliveryList, "--SELECT DELIVERY--", new { @class = "form-control" , @id="dropdown_delivery" })



                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="quantity_"><strong>Quantity</strong></label>


                                            <input type="number" class="form-control" asp-for="Quantity" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="quantity_"><strong>Price</strong></label>


                                            <input type="number" class="form-control" asp-for="ItemPrice" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="exp_date"><strong>Expiration Date</strong></label>
                                            <kendo-datepicker name="datepicker" class="form-control" format="MM-dd-yyyy" for="ExpirationDate" value="Model.ExpirationDate" style="width: 100%" placeholder="mm/dd/yyyy" />
                                             
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Submit</button></div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
     
    <script type="text/javascript">
        function OnSuccess(e) { 

            window.location.href="/Inventory/Index"
        }

        function OnFailure(e) {
            console.log(e);
            alert("failed!");
        }
        
        $('#dropdown_food').change(function (){
                  var drpValue = $('#dropdown_food').val();
            if (drpValue == "Add New Food") { 

                window.location.href = "/Inventory/AddFood";
            }
        });
        
        $('#dropdown_delivery').change(function (){
                  var drpValue = $('#dropdown_delivery').val();
            if (drpValue == "Add New Delivery") { 

                window.location.href = "/Inventory/AddInventoryDelivery";
            }
            });

    </script>

    <partial name="_ValidationScriptsPartial" />
} 