@model Attila.Application.Inventory_Manager.Shared.Queries.InventoriesDeliveryVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            
            Update Food Stocks 
            <small> </small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">

        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-speech font-green"></i>
                    <span class="caption-subject bold font-green uppercase"></span>
                </div>

            </div>
            <div class="portlet-body">
                <form role="form" asp-controller="Clients" asp-action="AddClientDetails" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                    <div class="form-group">
                        <label class="control-label">Delivery Date: </label>
                        <input type="text" asp-for="DeliveryDate" placeholder="mm/dd/yyy" class="form-control date date-picker">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Delivery Price</label>
                        <input type="text" asp-for="DeliveryPrice" placeholder="John Smith" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Supplier</label>
                        <input type="email" asp-for="SupplierDetails" placeholder="john.smith@gmail.com" class="form-control">
                    </div>
               
                    <div class="margin-top-10">
                        <button type="submit" id="btnSubmit" class="btn green">Add </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<partial name="partials/_SuccessfulRegistration.cshtml" />
@section Scripts{
    <script type="text/javascript">
        function OnSuccess(e) {
            $("#success").modal('show');


        }

        function OnFailure(e) {
            console.log(e);
            alert("Please enter the correct details!");
        }

    </script>
} 