@model Attila.UI.Models.InventoryDeliveryCVM
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid">
    <h3 class="text-dark mb-4">New Delivery </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">

                    <form role="form" asp-controller="Inventory"  enctype="multipart/form-data" asp-action="AddInventoryDelivery" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"> </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold"> <button class="btn btn-primary btn-sm" type="submit">Submit</button></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address"><strong>Delivery Date</strong></label>
                                            <kendo-datepicker name="datepicker" class="form-control" format="MM-dd-yyyy" for="DeliveryDate" value="Model.DeliveryDate" style="width: 100%" placeholder="mm/dd/yyyy" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="supplier"><strong>Supplier</strong></label>
                                            @Html.DropDownListFor(m => m.SupplierDetailsID, Model.SupplierDetailsList, "-- SELECT SUPPLIER--", new { @class = "form-control", @id= "dropdown_supplier" })

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="first_name"><strong>Price</strong></label>

                                            <input type="number" asp-for="DeliveryPrice" placeholder="999.99" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="first_name"><strong>Remarks</strong></label>
                                            <textarea class="form-control" asp-for="Remarks" name="remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="first_name"><strong>Receipt Image [Optional]</strong></label>

                                            <img   id="image" class="img-fluid" />
                                            <input type='file' class="form-control" id="imgInp" name="file" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{


    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function OnSuccess(e) {
            window.location.href="/Inventory/Index"


        }
   function readURL(input) {
        if (input.files && input.files[0]) {
             var reader = new FileReader();
    
         reader.onload = function(e) {
      $('#image').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#imgInp").change(function() {
  readURL(this);
});
        
        $('#dropdown_supplier').change(function (){
                  var drpValue = $('#dropdown_supplier').val();
            if (drpValue == "Add New Supplier") { 

                window.location.href = "/Inventory/RegisterSupplier";
            }
            });
   
    </script>
} 
