@model SupplierDetailsCVM

@{

    ViewData["Title"] = "Suppliers";

}




 



<div class="container-fluid">
    <h3 class="text-dark mb-4">  Supplier Form </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12"> 
                    <form role="form" asp-controller="Inventory" asp-action="RegisterSupplier" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"> </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold"> <button class="btn btn-primary btn-sm" type="submit">Register</button></p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="food_details"><strong>Name</strong></label>
                                            <input type="text" class="form-control" placeholder="" asp-for="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="delivery_details"><strong>Contact Person Name</strong></label>
                                            <input type="text" class="form-control" placeholder="Name " asp-for="ContactPersonName">



                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="ContactNumber"><strong>Contact</strong></label>
                                            <input type="text" class="form-control" placeholder="09XXXXXX /  02XXXXXX" asp-for="ContactNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address"><strong>Address</strong></label>


                                            <input type="text" class="form-control" placeholder="Bldg. St. City" asp-for="Address">
                                        </div>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
   
    <script type="text/javascript">


        function OnSuccess(e) {

           window.location.href='@Url.Action("Supplier", "Inventory")'

        }

        function OnFailure(e) {
            alert("Please enter the correct details!");
        };


    </script>
}




 
