@model Attila.UI.Models.EquipmentRestockRequestVM
@{

    ViewData["Title"] = "Request Equipment Restock";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Request Food Restock
            <small> </small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">

        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-speech font-green"></i>
                    <span class="caption-subject bold font-green uppercase">@ViewData["Title"]</span>
                </div>

            </div>
            <div class="portlet-body">
                <form role="form" asp-controller="Inventory" asp-action="RequestFoodRestock" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                    <div class="form-group">
                        <label class="control-label">Food </label>
                        @Html.DropDownListFor(m => m.EquipmentDetailsID, Model.EquipmentDetailsList, "--SELECT CLIENT--", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Quantity</label>
                        <input type="text" asp-for="Quantity" placeholder="John Smith" class="form-control">
                    </div>
                  
                    <div class="margin-top-10">
                        <button type="submit" id="btnSubmit" class="btn green">Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<partial name="partials/_SuccessfulRequest.cshtml" />
@section Scripts{
    <script type="text/javascript">
        function OnSuccess(e) {
            $("#successreq").modal('show');


        }

        function OnFailure(e) {
            console.log(e);
            alert("Please enter the correct details!");
        }

    </script>
} 