 

<div class="modal fade" id="restockFood" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"  data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Do you want to restock an item?</h4>
            </div>
            <div class="modal-body"> Click Yes to proceed to the Food Restock Request Form. No to Cancel </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">No</button>
                <button type="button" class="btn dark btn-outline" onclick="location.href='@Url.Action("RequestFoodRestock", "Inventory")'" data-dismiss="modal">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>