@model Attila.UI.Models.EquipmentInventoryVM

@{
    ViewData["Title"] = "AddEquipmentInventory";
}

<h1>Add Equipment Inventory</h1>

<hr />

<form class="form-group" asp-action="AddEquipmentInventory" asp-controller="InventoryManager" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipmentDetailsID" class="control-label">Equipment Details ID: </label>
                @Html.DropDownListFor(a => a.EquipmentDetailsID, Model.EquipmentDetailsList, "Select Equipment", new { @class = "form-control" })
                <span asp-validation-for="EquipmentDetailsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentDeliveryID" class="control-label">Equipment Delivery ID: </label>
                @Html.DropDownListFor(a => a.EquipmentDeliveryID, Model.EquipmentDeliveryList, "Select Delivery", new { @class = "form-control" })
                <span asp-validation-for="EquipmentDeliveryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantity: </label>
                <input id="txtQuantity" asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemPrice" class="control-label">Item Price: </label>
                <input id="txtItemPrice" asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label">Remarks: </label>
                <input id="txtRemarks" asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label">User ID: </label>
                <input id="UserID" asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary">Submit </button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script type="text/javascript">
        function OnSuccess(result) {
            if (result == true) {
                alert("Equipment inventory successfully added!");
                window.location = "/InventoryManager/Index";
            }

            else {
                alert("Failed!");
                window.location = "/InventoryManager/AddEquipmentInventory";
            }
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}