@model Attila.UI.Models.FoodInventoryVM

@{
    ViewData["Title"] = "AddFoodInventoryCommand";
}

<h1>Add Food Inventory</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
            <label asp-for="ID" class="control-label"></label>
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="FoodDetailsID" class="control-label">Food Details ID: </label>
            <input id="FoodDetailsID" asp-for="FoodDetailsID" class="form-control" />
            <span asp-validation-for="FoodDetailsID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FoodRestockID" class="control-label">Food Restock ID: </label>
            <input id="FoodRestockID" asp-for="FoodRestockID" class="form-control" />
            <span asp-validation-for="FoodRestockID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="control-label">Quantity: </label>
            <input id="txtQuantity" asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ExpirationDate" class="control-label">Expiration Date: </label>
            <input id="txtExpirationDate" asp-for="ExpirationDate" class="form-control" />
            <span asp-validation-for="ExpirationDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EncodingDate" class="control-label">Encoding Date: </label>
            <input id="txtEncodingDate" asp-for="EncodingDate" class="form-control" />
            <span asp-validation-for="EncodingDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ItemPrice" class="control-label">Item Price: </label>
            <input id="txtItemPrice" asp-for="ItemPrice" class="form-control" />
            <span asp-validation-for="ItemPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Remarks" class="control-label">Remarks: </label>
            <input id="txtRemarks" asp-for="Remarks" class="form-control" />
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserID" class="control-label">User ID: </label>
            <input id="UserID" asp-for="UserID" class="form-control" />
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button id="btnSubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {

                var _quantity = $('#txtQuantity').val();
                var _expirationDate = $('#txtExpirationDate').val();
                var _encodingDate = $('#txtEncodingDate').val();
                var _itemPrice = $('#txtItemPrice').val();
                var _remarks = $('#txtRemarks').val();
                var _userID = $('#UserID').val();
                var _foodDetailsID = $('#FoodDetailsID').val();
                var _foodRestockID = $('#FoodRestockID').val();

                var _foodInventory =
                {
                    Quantity: _quantity,
                    ExpirationDate: _expirationDate,
                    EncodingDate: _encodingDate,
                    ItemPrice: _itemPrice,
                    Remarks: _remarks,
                    UserID: _userID,
                    FoodDetailsID: _foodDetailsID,
                    FoodRestockID: _foodRestockID
                };

                $.post('/InventoryManager/AddFoodInventoryCommand', { foodInventory: _foodInventory }).done(function (data) { InputResult(data) });
            });
        });

        function InputResult(result) {
            if (result == true) {
                alert("Food inventory successfully added!");
                window.location = "/InventoryManager/Index";
            }
            else {
                alert("Failed!");
                window.location = "/InventoryManager/AddFoodInventoryCommand";
            }
        }
    </script>
}