
@{
    ViewData["Title"] = "Index";
}

<h1>Inventory Manager</h1>

<br />
<table>
    <tr>
        <td>
            <button id="btnAddEquipmentDetails" class="btn btn-primary">ADD EQUIPMENT DETAILS</button>
            <button id="btnAddFoodDetails" class="btn btn-primary">ADD FOOD DETAILS</button>
            <br />
            <br />
        </td>

    </tr>

    <tr>
        <td>
            <button id="btnAddEquipmentInventory" class="btn btn-primary">ADD EQUIPMENT INVENTORY</button>
            <button id="btnAddFoodInventory" class="btn btn-primary">ADD FOOD INVENTORY</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnAddEquipmentRestock" class="btn btn-primary">ADD EQUIPMENT RESTOCK</button>
            <button id="btnAddFoodRestock" class="btn btn-primary">ADD FOOD RESTOCK</button>
            <br />
            <br />

        </td>
    </tr>
    <tr>
        <td>
            <button id="btnDeleteEquipment" class="btn btn-primary">DELETE EQUIPMENT</button>
            <button id="btnDeleteFood" class="btn btn-primary">DELETE FOOD</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnRequestEquipmentRestock" class="btn btn-primary">REQUEST EQUIPMENT RESTOCK</button>
            <button id="btnRequestFoodRestock" class="btn btn-primary">REQUEST FOOD RESTOCK</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnUpdateEquipmentDetails" class="btn btn-primary">UPDATE EQUIPMENT DETAILS</button>
            <button id="btnUpdateFoodDetails" class="btn btn-primary">UPDATE FOOD DETAILS</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnUpdateEquipmentStock" class="btn btn-primary">UPDATE EQUIPMENT STOCK</button>
            <button id="btnUpdateFoodStock" class="btn btn-primary">UPDATE FOOD STOCK</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnViewEquipmentDetails" class="btn btn-primary">VIEW  EQUIPMENT DETAILS</button>
            <button id="btnViewFoodDetails" class="btn btn-primary">VIEW  FOOD DETAILS</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnViewEquipmentStock" class="btn btn-primary">VIEW EQUIPMENT STOCK</button>
            <button id="btnViewFoodStock" class="btn btn-primary">VIEW FOOD STOCK</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnViewEquipmentDelivery" class="btn btn-primary">VIEW EQUIPMENT DELIVERY</button>
            <button id="btnViewFoodDelivery" class="btn btn-primary">VIEW FOOD DELIVERY</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnSearchEquipmentByID" class="btn btn-primary">SEARCH EQUIPMENT BY ID</button>
            <button id="btnSearchFoodByID" class="btn btn-primary">SEARCH FOOD BY ID</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnSearchEquipmentByKeyword" class="btn btn-primary">SEARCH EQUIPMENT BY KEYWORD</button>
            <button id="btnSearchFoodByKeyword" class="btn btn-primary">SEARCH FOOD BY KEYWORD</button>
        </td>
    </tr>
</table>


@section Scripts {

    <script>

        $('document').ready(function () {

            $('#btnAddEquipmentDetails').on('click', function () {
                window.location = "/InventoryManager/AddEquipmentDetailsCommand";
            });

            $('#btnAddEquipmentInventory').on('click', function () {
                window.location = "/InventoryManager/AddEquipmentInventoryCommand";
            });

            $('#btnAddEquipmentRestock').on('click', function () {
                window.location = "/InventoryManager/AddEquipmentRestockCommand";
            });

            $('#btnDeleteEquipment').on('click', function () {
                window.location = "/InventoryManager/DeleteEquipmentDetailsCommand";
            });

            $('#btnRequestEquipmentRestock').on('click', function () {
                window.location = "/InventoryManager/RequestEquipmentRestockCommand";
            });

            $('#btnUpdateEquipmentDetails').on('click', function () {
                window.location = "/InventoryManager/UpdateEquipmentDetailsCommand";
            });

            $('#btnUpdateEquipmentStock').on('click', function () {
                window.location = "/InventoryManager/UpdateEquipmentStockCommand";
            });

            $('#btnViewEquipmentDetails').on('click', function () {
                window.location = "/InventoryManager/GetEquipmentDetailsQuery";
            });

            $('#btnViewEquipmentStock').on('click', function () {
                window.location = "/InventoryManager/GetEquipmentStockQuery";
            });

            $('#btnViewEquipmentDelivery').on('click', function () {
                window.location = "/InventoryManager/GetEquipmentDeliveryQuery";
            });

            $('#btnSearchEquipmentByID').on('click', function () {
                window.location = "/InventoryManager/SearchEquipmentByIdQuery";
            });

            $('#btnSearchEquipmentByKeyword').on('click', function () {
                window.location = "/InventoryManager/SearchEquipmentByKeywordQuery";
            });


            $('#btnAddFoodDetails').on('click', function () {
                window.location = "/InventoryManager/AddFoodDetailsCommand";
            });

            $('#btnAddFoodInventory').on('click', function () {
                window.location = "/InventoryManager/AddFoodInventoryCommand";
            });

            $('#btnAddFoodRestock').on('click', function () {
                window.location = "/InventoryManager/AddFoodRestockCommand";
            });

            $('#btnDeleteFood').on('click', function () {
                window.location = "/InventoryManager/DeleteFoodDetailsCommand";
            });

            $('#btnRequestFoodRestock').on('click', function () {
                window.location = "/InventoryManager/RequestFoodRestockCommand";
            });

            $('#btnUpdateFoodDetails').on('click', function () {
                window.location = "/InventoryManager/UpdateFoodDetailsCommand";
            });

            $('#btnUpdateFoodStock').on('click', function () {
                window.location = "/InventoryManager/UpdateFoodStockCommand";
            });

            $('#btnViewFoodDetails').on('click', function () {
                window.location = "/InventoryManager/GetFoodDetailsQuery";
            });

            $('#btnViewFoodStock').on('click', function () {
                window.location = "/InventoryManager/GetFoodStockQuery";
            });

            $('#btnViewFoodDelivery').on('click', function () {
                window.location = "/InventoryManager/GetFoodDeliveryQuery";
            });

            $('#btnSearchFoodByID').on('click', function () {
                window.location = "/InventoryManager/SearchFoodByIdQuery";
            });

            $('#btnSearchFoodByKeyword').on('click', function () {
                window.location = "/InventoryManager/SearchFoodByKeywordQuery";
            });
        });

    </script>
}