@model Attila.Domain.Entities.EquipmentRestockRequest

@{
    ViewData["Title"] = "RequestEquipmentRestockCommand";
}

<h1>RequestEquipmentRestockCommand</h1>

<h4>EquipmentRestockRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RequestEquipmentRestockCommand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeRequest" class="control-label"></label>
                <input asp-for="DateTimeRequest" class="form-control" />
                <span asp-validation-for="DateTimeRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentDetailsID" class="control-label"></label>
                <input asp-for="EquipmentDetailsID" class="form-control" />
                <span asp-validation-for="EquipmentDetailsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
