@model IEnumerable<Attila.Application.Inventory_Manager.Equipment.Queries.EquipmentDetailsVM>

@{
    ViewData["Title"] = "SearchEquipmentByKeywordQuery";
}

<h1>Search Equipment By Keyword</h1>

<div class="row">
    <div class="col-md-4">
        <label class="control-label">Enter keyword:asd </label>
        <input id="txtKeyword" class="form-control" />
        <br />
        <button id="btnSubmit" class="btn btn-primary">Submit</button>
    </div>
</div>

@section Scripts {

    <script>

        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {

                if ($('#txtKeyword').val()) {

                    var _searchedKeyword = $('#txtKeyword').val();

                    $.get('/InventoryManager/SearchEquipmentByKeywordResult', { searchKeyword: _searchedKeyword })
                        .done(function (result) {
                            if (result != null) {
                                alert("Equipment keyword successfully searched!");
                                window.location = "/InventoryManager/SearchEquipmentByKeywordResult";
                            }
                            else {
                                alert("Keyword does not exist!");
                            }
                        })
                        .fail(function (error) {
                            alert("Keyword does not exist!")
                            $("#txtKeyword").val("");
                        });
                }

                else {
                    alert("Please enter keyword.");
                }
            });
        });

    </script>
}
