@model Attila.UI.Models.FoodDetailsVM

@{
    ViewData["Title"] = "SearchFoodByKeyword";
}

<h1>Search Food By Keyword</h1>

<form class="form-group" asp-action="SearchFoodByKeywordResult" asp-controller="InventoryManager" data-ajax="true" data-ajax-method="get" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Enter keyword: </label>
            <input asp-for="SearchedKeyword" id="txtKeyword" class="form-control" />
            <br />
            <button id="btnSubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        function OnSuccess() {
            alert("Food keyword successfully searched!");
            window.location = "/InventoryManager/SearchFoodByKeywordResult";
        }

        function OnFailure() {
            alert("Keyword does not exist!");
            window.location = "/InventoryManager/SearchFoodByKeyword"
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}
