@model Attila.UI.Models.EquipmentDetailsVM

@{
    ViewData["Title"] = "UpdateEquipmentDetails";
}

<h1>Update Equipment Details Command</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ID" class="control-label">ID: </label>
            <input id="txtID" asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="control-label">Code: </label>
            <input id="txtCode" asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Name: </label>
            <input id="txtName" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Description: </label>
            <input id="txtDescription" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UnitType" class="control-label">Unit Type:</label>
            <select id="txtUnitType" asp-for="UnitType" class="form-control">
                <option value=""> -- select an option -- </option>
                <option value="1">Piece</option>
                <option value="2">Box</option>
                <option value="3">Dozen</option>
                <option value="4">Others</option>
            </select>
            <span asp-validation-for="UnitType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EquipmentType" class="control-label">Equipment Type:</label>
            <select id="txtEquipmentType" asp-for="EquipmentType" class="form-control">
                <option value=""> -- select an option -- </option>
                <option value="1">Consumable</option>
                <option value="2">Non-consumable</option>
                <option value="3">Others</option>
            </select>
            <span asp-validation-for="EquipmentType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button id="btnSubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {

                if ($('#txtID').val() &&
                    $('#txtCode').val() &&
                    $('#txtName').val() &&
                    $('#txtDescription').val() &&
                    $('#txtUnitType').val() &&
                    $('#txtEquipmentType').val()) {

                    var _id = $('#txtID').val();
                    var _code = $('#txtCode').val();
                    var _name = $('#txtName').val();
                    var _description = $('#txtDescription').val();
                    var _unitType = $('#txtUnitType').val();
                    var _equipmentType = $('#txtEquipmentType').val();

                    var _equipmentDetails =
                    {
                        ID: _id,
                        Code: _code,
                        Name: _name,
                        Description: _description,
                        UnitType: _unitType,
                        EquipmentType: _equipmentType
                    };

                    $.post('/InventoryManager/UpdateEquipmentDetails', { equipmentDetails: _equipmentDetails })
                        .done(function (result) {
                            if (result == true) {
                                alert("Equipment details successfully updated!");
                                window.location = "/InventoryManager/Index";
                            }
                            else {
                                alert("Failed!");
                                window.location = "/InventoryManager/UpdateEquipmentDetails";
                            }
                        });

                }

                else {
                    alert("Please fill in all the details.");
                }


            });
        });
    </script>
}
