@model Attila.UI.Models.EquipmentDetailsVM

@{
    ViewData["Title"] = "UpdateEquipmentDetails";
}

<h1>Update Equipment Details Command</h1>

<hr />
<form class="form-group" asp-action="UpdateEquipmentDetails" asp-controller="InventoryManager" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label">ID: </label>
                @Html.DropDownListFor(a => a.ID, Model.EquipmentDetailsList, "Select Equipment ID", new { @class = "form-control" })
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Code: </label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name: </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description: </label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalFee" class="control-label">Rental Fee: </label>
                <input asp-for="RentalFee" class="form-control" />
                <span asp-validation-for="RentalFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitType" class="control-label">Unit Type:</label>
                <select asp-for="UnitType" class="form-control">
                    <option value=""> -- select an option -- </option>
                    <option value="1">Piece</option>
                    <option value="2">Box</option>
                    <option value="3">Dozen</option>
                    <option value="4">Others</option>
                </select>
                <span asp-validation-for="UnitType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentType" class="control-label">Equipment Type:</label>
                <select asp-for="EquipmentType" class="form-control">
                    <option value=""> -- select an option -- </option>
                    <option value="1">Consumable</option>
                    <option value="2">Non-consumable</option>
                    <option value="3">Others</option>
                </select>
                <span asp-validation-for="EquipmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        function OnSuccess(result) {
            if (result == true) {
                alert("Equipment details successfully updated!");
                window.location = "/InventoryManager/Index";
            }

            else {
                alert("Failed!");
                window.location = "/InventoryManager/UpdateEquipmentDetails";
            }
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}