@model Attila.UI.Models.EquipmentInventoryVM

@{
    ViewData["Title"] = "UpdateEquipmentStockCommand";
}

<h1>Update Equipment Stock Command</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateEquipmentStockCommand">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input id="txtID" asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="EquipmentDetailsID" class="control-label"></label>
                <input id="EquipmentDetailsID" asp-for="EquipmentDetailsID" class="form-control" />
                <span asp-validation-for="EquipmentDetailsID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input id="txtQuantity" asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            @*
            <div class="form-group">
                <label asp-for="EquipmentDeliveryID" class="control-label"></label>
                <input id="EquipmentDeliveryID" asp-for="EquipmentDeliveryID" class="form-control" />
                <span asp-validation-for="EquipmentDeliveryID" class="text-danger"></span>
            </div>    
            <div class="form-group">
                <label asp-for="EncodingDate" class="control-label"></label>
                <input id="txtEncodingDate" asp-for="EncodingDate" class="form-control" />
                <span asp-validation-for="EncodingDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemPrice" class="control-label"></label>
                <input id="txtPrice" asp-for="ItemPrice" class="form-control" />
                <span asp-validation-for="ItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input id="txtRemarks" asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input id="UserID" asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <button id="btnSubmit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {

                var _id = $('#txtID').val();
                //var _quantity = $('#txtQuantity').val();
                var _equipmentDetailsID = $('#EquipmentDetailsID').val();
                //var _encodingDate = $('#txtEncodingDate').val();
                //var _itemPrice = $('#txtItemPrice').val();
                //var _remarks = $('#txtRemarks').val();
                //var _userID = $('#UserID').val();
                //var _equipmentDeliveryID = $('#EquipmentDeliveryID').val();

                var _equipmentDelivery =
                {
                    //Quantity: _quantity,
                    ID: _id,
                    EquipmentDetailsID: _equipmentDetailsID
                    //EncodingDate: _encodingDate,
                    //ItemPrice: _itemPrice,
                    //Remarks: _remarks,
                    //UserID: _userID,
                    
                    //EquipmentDeliveryID: _equipmentDeliveryID
                };

                $.post('/InventoryManager/UpdateEquipmentStockCommand', { equipmentInventory: _equipmentDelivery }).done(function (data) { InputResult(data) });
            });
        });

        function InputResult(result) {
            if (result == true) {
                alert("Equipment inventory successfully updated!");
                window.location = "/InventoryManager/Index";
            }
            else {
                alert("Failed!");
                window.location = "/InventoryManager/UpdateEquipmentStockCommand";
            }
        }
    </script>
}
