
@{
    ViewData["Title"] = "Register Account";

}
@model Attila.Application.Users.Queries.UserVM;

@section Scripts{
    <script type="text/javascript">
        function OnSuccess(e) {
            $("#success").modal('show');
        }

        function OnFailure(e) {
            alert("Please enter the correct details!");
        }

    </script>

    <partial name="_ValidationScriptsPartial" />
}


<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Register Account
            <small> </small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">

        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Home"
              asp-action="AddUser"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-success="OnSuccess"
              data-ajax-failure="OnFailure">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-speech font-green"></i>
                        <span class="caption-subject bold font-green uppercase">Officer Profile</span>
                    </div>
                    <div class="actions">
                        <button id="btnSubmit" type="submit" class="btn green">Register </button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="control-label">Full Name</label>
                                <input asp-for="Name" placeholder="John Smith" class="form-control">
                            </div>

                            <div class="form-group">
                                <label class="control-label">E-mail</label>
                                <input type="email" asp-for="Email" placeholder="john.smith@gmail.com" class="form-control">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Mobile Number</label>
                                <input asp-for="ContactNumber" placeholder="+63 9123456789" class="form-control">
                            </div>


                            <div class="form-group">
                                <label class="control-label">Position</label>
                                <input asp-for="Position" placeholder="CEO/Event Coordinator" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Type of Officer</label>
                                <select class="form-control" asp-for="Role">
                                    <option value="2">Admin</option>
                                    <option value="3">Coordinator</option>
                                    <option value="4">Chef</option>
                                    <option value="5">Inventory Manager</option>

                                </select>
                            </div>

                            <hr />

                            <div class="form-group">
                                <label class="control-label">Username</label>
                                <input asp-for="Username" placeholder="John Smith" class="form-control">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input type="password" asp-for="Password" class="form-control">
                            </div>




                            <div class="margin-top-10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>
<!-- End: life time stats -->

<div class="modal fade" id="success" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="location.href='/User/List'" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Successful Registration</h4>
            </div>
            <div class="modal-body"> User added successfully! </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" onclick="location.href='/User/List'" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>