
@{
    ViewData["Title"] = "Register Account";

}
@model Attila.Application.Users.Queries.UserVM;

@section Scripts{
    <script type="text/javascript">
        function OnSuccess(e) {
            window.location.href='/User/List'
        }

        function OnFailure(e) {
            alert("Please enter the correct details!");
        }

    </script>

    <partial name="_ValidationScriptsPartial" />
}



<div class="container-fluid">
    <h3 class="text-dark mb-4">  User Form </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                  
                    <form asp-controller="Home"
                          asp-action="AddUser"
                          data-ajax="true"
                          data-ajax-method="POST"
                          data-ajax-success="OnSuccess"
                          data-ajax-failure="OnFailure">


                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"> </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold"> <button class="btn btn-primary btn-sm" type="submit">Register</button></p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="food_details"><strong>Full Name</strong></label>
                                            <input type="text" class="form-control" placeholder="" asp-for="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address"><strong>Email Address</strong></label>


                                            <input type="email" asp-for="Email" placeholder="john.smith@gmail.com" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="ContactNumber"><strong>Contact</strong></label>
                                            <input type="text" class="form-control" placeholder="09XXXXXX /  02XXXXXX" asp-for="ContactNumber">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="delivery_details"><strong>Position</strong></label>
                                            <input type="text" class="form-control" placeholder="CEO / Manager / Chef " asp-for="Position">
                                        </div>
                                    </div>
                                </div>



                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address"><strong>Role</strong></label>
                                            <select class="form-control" asp-for="Role">
                                                <option value="Admin">Admin</option>
                                                <option value="Coordinator">Coordinator</option>
                                                <option value="Chef">Chef</option>
                                                <option value="InventoryManager">Inventory Manager</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="ContactNumber"><strong>Username</strong></label>
                                            <input type="text" class="form-control" placeholder="" asp-for="Username">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address"><strong>Password</strong></label>


                                            <input type="password" asp-for="Password" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                </div>



                              
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
