@model Attila.UI.Models.FoodDetailsVM

@{
    ViewData["Title"] = "AddFoodDetailsCommand";
}

<h1>Add Food Details</h1>

<hr />
<form class="form-group" asp-action="AddFoodDetailsCommand" asp-controller="InventoryManager" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Code: </label>
                <input id="txtCode" asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name: </label>
                <input id="txtName" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specification" class="control-label">Specification: </label>
                <input id="txtSpecification" asp-for="Specification" class="form-control" />
                <span asp-validation-for="Specification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description: </label>
                <input id="txtDescription" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unit" class="control-label">Unit: </label>
                <select id="txtUnit" asp-for="Unit" class="form-control">
                    <option value=""> -- select an option -- </option>
                    <option value="1">Piece</option>
                    <option value="2">Box</option>
                    <option value="3">Dozen</option>
                    <option value="4">Others</option>
                </select>
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodType" class="control-label">Food Type:</label>
                <select id="txtFoodType" asp-for="FoodType" class="form-control">
                    <option value=""> -- select an option -- </option>
                    <option value="1">Perishable</option>
                    <option value="2">Non-perishable</option>
                    <option value="3">Others</option>
                </select>
                <span asp-validation-for="FoodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="btnSubmit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        function OnSuccess(result) {
            if (result == true) {
                alert("Food details successfully added!");
                window.location = "/InventoryManager/Index";
            }

            else {
                alert("Failed!");
                window.location = "/InventoryManager/AddFoodDetailsCommand";
            }
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}
