
@{
    ViewData["Title"] = "Index";
}

<h1>Inventory Manager</h1>

<br />
<table>
    <tr>
        <td>
            <button id="btnAddEquipmentDetails" class="btn btn-primary">ADD EQUIPMENT DETAILS</button>
            <button id="btnAddFoodDetails" class="btn btn-primary">ADD FOOD DETAILS</button>
            <br />
            <br />
        </td>

    </tr>

    <tr>
        <td>
            <button id="btnAddEquipmentInventory" class="btn btn-primary">ADD EQUIPMENT INVENTORY</button>
            <button id="btnAddFoodInventory" class="btn btn-primary">ADD FOOD INVENTORY</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnAddEquipmentRestock" class="btn btn-primary">ADD EQUIPMENT RESTOCK</button>
            <button id="btnAddFoodRestock" class="btn btn-primary">ADD FOOD RESTOCK</button>
            <br />
            <br />

        </td>
    </tr>
    <tr>
        <td>
            <button id="btnDeleteEquipment" class="btn btn-primary">DELETE EQUIPMENT</button>
            <button id="btnDeleteFood" class="btn btn-primary">DELETE FOOD</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnRequestEquipmentRestock" class="btn btn-primary">REQUEST EQUIPMENT RESTOCK</button>
            <button id="btnRequestFoodRestock" class="btn btn-primary">REQUEST FOOD RESTOCK</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnUpdateEquipmentDetails" class="btn btn-primary">UPDATE EQUIPMENT DETAILS</button>
            <button id="btnUpdateFoodDetails" class="btn btn-primary">UPDATE FOOD DETAILS</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnUpdateEquipmentStock" class="btn btn-primary">UPDATE EQUIPMENT STOCK</button>
            <button id="btnUpdateFoodStock" class="btn btn-primary">UPDATE FOOD STOCK</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnViewEquipmentDetails" class="btn btn-primary">VIEW  EQUIPMENT DETAILS</button>
            <button id="btnViewFoodDetails" class="btn btn-primary">VIEW  FOOD DETAILS</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnViewEquipmentStock" class="btn btn-primary">VIEW EQUIPMENT STOCK</button>
            <button id="btnViewFoodStock" class="btn btn-primary">VIEW FOOD STOCK</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnViewEquipmentDelivery" class="btn btn-primary">VIEW EQUIPMENT DELIVERY</button>
            <button id="btnViewFoodDelivery" class="btn btn-primary">VIEW FOOD DELIVERY</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnSearchEquipmentByID" class="btn btn-primary">SEARCH EQUIPMENT BY ID</button>
            <button id="btnSearchFoodByID" class="btn btn-primary">SEARCH FOOD BY ID</button>
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td>
            <button id="btnSearchEquipmentByKeyword" class="btn btn-primary">SEARCH EQUIPMENT BY KEYWORD</button>
            <button id="btnSearchFoodByKeyword" class="btn btn-primary">SEARCH FOOD BY KEYWORD</button>
        </td>
    </tr>
</table>


@section Scripts {

    <script>

        $('document').ready(function () {

            $('#btnAddEquipmentDetails').on('click', function () {
                window.location = "/InventoryManager/AddEquipmentDetails";
            });

            $('#btnAddEquipmentInventory').on('click', function () {
                window.location = "/InventoryManager/AddEquipmentInventory";
            });

            $('#btnAddEquipmentRestock').on('click', function () {
                window.location = "/InventoryManager/AddEquipmentRestock";
            });

            $('#btnDeleteEquipment').on('click', function () {
                window.location = "/InventoryManager/DeleteEquipmentDetails";
            });

            $('#btnRequestEquipmentRestock').on('click', function () {
                window.location = "/InventoryManager/RequestEquipmentRestock";
            });

            $('#btnUpdateEquipmentDetails').on('click', function () {
                window.location = "/InventoryManager/UpdateEquipmentDetails";
            });

            $('#btnUpdateEquipmentStock').on('click', function () {
                window.location = "/InventoryManager/UpdateEquipmentStock";
            });

            $('#btnViewEquipmentDetails').on('click', function () {
                window.location = "/InventoryManager/GetEquipmentDetails";
            });

            $('#btnViewEquipmentStock').on('click', function () {
                window.location = "/InventoryManager/GetEquipmentStock";
            });

            $('#btnViewEquipmentDelivery').on('click', function () {
                window.location = "/InventoryManager/GetEquipmentDelivery";
            });

            $('#btnSearchEquipmentByID').on('click', function () {
                window.location = "/InventoryManager/SearchEquipmentById";
            });

            $('#btnSearchEquipmentByKeyword').on('click', function () {
                window.location = "/InventoryManager/SearchEquipmentByKeyword";
            });


            $('#btnAddFoodDetails').on('click', function () {
                window.location = "/InventoryManager/AddFoodDetails";
            });

            $('#btnAddFoodInventory').on('click', function () {
                window.location = "/InventoryManager/AddFoodInventory";
            });

            $('#btnAddFoodRestock').on('click', function () {
                window.location = "/InventoryManager/AddFoodRestock";
            });

            $('#btnDeleteFood').on('click', function () {
                window.location = "/InventoryManager/DeleteFoodDetails";
            });

            $('#btnRequestFoodRestock').on('click', function () {
                window.location = "/InventoryManager/RequestFoodRestock";
            });

            $('#btnUpdateFoodDetails').on('click', function () {
                window.location = "/InventoryManager/UpdateFoodDetails";
            });

            $('#btnUpdateFoodStock').on('click', function () {
                window.location = "/InventoryManager/UpdateFoodStock";
            });

            $('#btnViewFoodDetails').on('click', function () {
                window.location = "/InventoryManager/GetFoodDetails";
            });

            $('#btnViewFoodStock').on('click', function () {
                window.location = "/InventoryManager/GetFoodStock";
            });

            $('#btnViewFoodDelivery').on('click', function () {
                window.location = "/InventoryManager/GetFoodDelivery";
            });

            $('#btnSearchFoodByID').on('click', function () {
                window.location = "/InventoryManager/SearchFoodById";
            });

            $('#btnSearchFoodByKeyword').on('click', function () {
                window.location = "/InventoryManager/SearchFoodByKeyword";
            });
        });

    </script>
}