@model Attila.UI.Models.EquipmentDetailsVM


@{
    ViewData["Title"] = "SearchEquipmentByKeyword";
}

<h1>Search Equipment By Keyword</h1>

<form class="form-group" asp-action="SearchEquipmentByKeywordResult" asp-controller="InventoryManager" data-ajax="true" data-ajax-method="get" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Enter keyword: </label>
            <input asp-for="SearchedKeyword" id="txtKeyword" class="form-control" />
            <br />
            <button type="submit" id="txtKeyword" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>


@section Scripts {
    <script type="text/javascript">
        function OnSuccess() {
            alert("Equipment keyword successfully searched!");
            window.location = "/InventoryManager/SearchEquipmentByKeywordResult";
        }

        function OnFailure() {
            alert("Keyword does not exist!");
            window.location = "/InventoryManager/SearchEquipmentByKeyword"
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}