@using Attila.Application.Coordinator.Events.Queries

@model List<Attila.Application.Notification.Queries.NotifVM>



<div class="container-fluid" style="margin-top: 10px;">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="text-primary font-weight-bold m-0">Notifications</h6>
        </div>
        <ul class="list-group list-group-flush">
            @if (Model.Count != 0) {  
                @foreach (var _item in Model.OrderByDescending(_item => _item.Date))
                {

                    <li class="list-group-item">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <h6 class="mb-0"><strong>@_item.Message</strong></h6><span class="text-xs">@_item.Date</span>
                            </div>
                            <div class="col-auto"><a href="@_item.Description">See details</a></div>
                        </div>
                    </li>

                } 
        }
        else
        {

            <li class="list-group-item">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <h6 class="mb-0"><strong>No Notification</strong></h6><span class="text-xs"></span>
                    </div> 
                </div>
            </li>
             
        } 
        </ul>
    </div>
</div>
