@model Attila.Application.Coordinator.Event.Queries.PaymentStatusVM

@{
    ViewData["Title"] = "UpdateEventPaymentStatus";
}

<h1>UpdateEventPaymentStatus</h1>

<h4>EventPaymentVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Coordinator" asp-action="UpdateEventPaymentStatus" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" id="txtAmount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPayment" class="control-label"></label>
                <input asp-for="DateOfPayment" id="txtDateOfPayment" class="form-control" />
                <span asp-validation-for="DateOfPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNumber" class="control-label"></label>
                <input asp-for="ReferenceNumber" id="txtReferenceNumber" class="form-control" />
                <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" id="txtRemarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function OnSuccess(e) {
            console.log(e);
            alert("Event package updated successfully!");
            window.location = '/Coordinator/Index';
        }

        function OnFailure(e) {
            console.log(e);
            alert("Please enter the correct details!");
        }

    </script>
    <partial name="_ValidationScriptsPartial" />
}