@model Attila.UI.Models.EventDetailsVM

@{
    ViewData["Title"] = "UpdateEvent";
}

<h1>UpdateEvent</h1>

<h4>EventDetailsVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Coordinator" asp-action="UpdateEvent" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" id="txtId" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" id="txtCode" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" id="txtEventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select id="txtType" asp-for="Type" class="form-control">
                    <option value="0">--please select a type--</option>
                    <option value="1">Wedding</option>
                    <option value="2">Birthday</option>
                    <option value="3">Others</option>
                    <option value="4">Graduation</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" id="txtAddress" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" id="txtBookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" id="txtEventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" id="txtDesc" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" id="txtLocation" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" id="txtRemarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventClientID" class="control-label"></label>
                <input asp-for="EventClientID" id="txtEventClientId" class="form-control" />
                <span asp-validation-for="EventClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function OnSuccess(e) {
            console.log(e);
            alert("Event updated successfully!");
            window.location = '/Coordinator/Index';
        }

        function OnFailure(e) {
            console.log(e);
            alert("Please enter the correct details!");
        }

    </script>
    <partial name="_ValidationScriptsPartial" />
}


