@model Attila.UI.Models.EventPaymentVM

@{
    ViewData["Title"] = "UpdateEventPaymentStatus";
}

<h1>UpdateEventPaymentStatus</h1>

<h4>EventPaymentVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" id="txtAmount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPayment" class="control-label"></label>
                <input asp-for="DateOfPayment" id="txtDateOfPayment" class="form-control" />
                <span asp-validation-for="DateOfPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNumber" class="control-label"></label>
                <input asp-for="ReferenceNumber" id="txtReferenceNumber" class="form-control" />
                <span asp-validation-for="ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" id="txtRemarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="btnSubmit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('document').ready(function () {
            $('#btnSubmit').on('click', function () {

                var _amount = $("#txtAmount").val();
                var _dateOfPayment = $("#txtDateOfPayment").val();
                var _referenceNumber = $("#txtReferenceNumber").val();
                var _remarks = $("#txtRemarks").val();

                var _eventPaymentDetails = {

                    Amount: _amount,
                    DateOfPayment: _dateOfPayment,
                    ReferenceNumber: _referenceNumber,
                    Remarks: _remarks
                };

                $.post('/Coordinator/UpdateEventPaymentStatus', { _eventPayment: _eventPaymentDetails }).done(ReplyLog);

            });


        });

        function ReplyLog(reply) {
            if (reply == true) {
                console.log("done");
                alert("Payment status updated successfully!");
                window.location = "/Coordinator/Index";
            } else {
                alert("Please enter correct details!");
            }


        }


    </script>



}
