@model Attila.UI.Models.ViewEventVM
@{
    ViewData["Title"] = "ViewEvent";
}

<h1>ViewEvent</h1>


<p>@Model.EventDetails.EventName</p>

<input id="valEventID" type="hidden" name="EventID" value="@Model.EventDetails.ID" />

<input type="submit" id="btnApprove" value="Approve" class="btn btn-primary" />

@section Scripts {

    <script>

        var _eventID = $('#valEventID').val();

        $('document').ready(function () {
            $('#btnApprove').on('click', function () {
                
                $.post('/Admin/ApproveEvent', { EventID: _eventID }).done(Reply);

            });
        });
   
        function Reply(reply) {

            if (reply = _eventID) {
               
                alert("APPROVED");
            }
            else {

                alert("MEH");
            }

        }

    </script>
}

