@model Attila.Application.Coordinator.Event.Queries.AdditionalDurationRequestListVM

@{
    ViewData["Title"] = "AddAdditionalDurationRequest";
}

<h1>AddAdditionalDurationRequest</h1>

<h4>PackageAdditionalDurationRequestVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Coordinator" asp-action="AddAdditionalDurationRequest" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" id="txtDuration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" id="txtRate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDetailsID" class="control-label"></label>
                <input asp-for="EventDetailsID" id="txtEventDetails" class="form-control" />
                <span asp-validation-for="EventDetailsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function OnSuccess(e) {
            console.log(e);
            alert("Additional duration requested successfully!");
            window.location = '/Coordinator/Index';
        }

        function OnFailure(e) {
            console.log(e);
            alert("Please enter the correct details!");
        }

    </script>
    <partial name="_ValidationScriptsPartial" />
}