@model PackagesVM

@{

    ViewData["Title"] = "Menu Form";
    
} 
            <form role="form" asp-controller="EventPackages" asp-action="AddMenu" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccessMenu" data-ajax-failure="OnFailureMenu">

                <div class="modal-header">
                    <button type="button" class="close" onclick="location.href='@Url.Action("Index", "EventPackages")'" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Menu Form</h4>
                </div>
                <div class="modal-body">

                    <div class="form-body">


                        <table class="display" id="sample_1">
                            <thead>
                                <tr>

                                    <th> Name </th>
                                    <th> Description </th>
                                    <td> Menu Category</td>
                                </tr>
                            </thead>


                            <tbody>
                                @*@foreach ( var item in Model.PackageMenu)
                                {
                                     

                                }*@

                            </tbody>

                        </table>
                    </div>




                </div>
                <div class="modal-footer">
                    <div class="form-actions">
                        <button type="submit" class="btn blue">Submit</button>
                        <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </form> 