@model AddPackageMenuCVM
@{
    ViewData["Title"] = "Add Package Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

 

<div class="container-fluid" style="margin-bottom:500px;">
    <h3 class="text-dark mb-4">Add Dish in Package" </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <form role="form" asp-controller="EventPackages" asp-action="AddPackageMenu" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccessPackageMenu" data-ajax-failure="OnFailurePackageMenu">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                        <p class="text-primary m-0 font-weight-bold"></p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                        <p class="text-primary m-0 font-weight-bold">
                                            <button class="btn btn-primary" type="submit">Submit</button>

                                        </p>

                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Package</strong></label>
                                                @Html.DropDownListFor(m => m.SelectedPackage, Model.PackageList ?? new List<SelectListItem>(), "--SELECT PACKAGE--", new { @class = "form-control" })



                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="supplier"><strong>Dish</strong></label>
                                                @Html.DropDownListFor(m => m.SelectedMenu, Model.MenuList ?? new List<SelectListItem>(), "--SELECT DISH--", new { @class = "form-control" })



                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {

  
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">


        function OnSuccessPackageMenu(e) {
             window.location.href = '/EventPackages/Index';
        };
        function OnFailurePackageMenu(e) {
            alert("failed!");
        };



    </script>







}