
@model EventPaymentCVM


@{
    ViewData["Title"] = "Add Payment";
}


<div class="container-fluid">
    <h3 class="text-dark mb-4">New Payment </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3"></div>
                        <div class="card-body">
                            <form role="form" asp-controller="Payment" asp-action="AddPayment" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address"><strong>Delivery Date</strong></label>
                                            <input type="text" class="form-control" asp-for="EventDetails.EventName" readonly>   </input>

                                            <input type="hidden" class="form-control" asp-for="EventDetailsID" readonly>   </input>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="supplier"><strong>Reference Number</strong></label>
                                            <input type="text" class="form-control" placeholder="" asp-for="ReferenceNumber">



                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="first_name"><strong>Amount</strong></label>

                                            <input type="number" class="form-control" asp-for="Amount" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="first_name"><strong>Remarks</strong></label>


                                            <textarea class="form-control" rows="4" asp-for="Remarks"  name="remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Submit</button></div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> 

@section Scripts{

    <script type="text/javascript">
        function OnSuccess(e) {


             var    id = @Model.EventDetailsID
          
             window.location.href = '/Payment/Record?EventID=' + id; 


        }



        function OnFailure(e) {
            alert("failed!");
                var    id = @Model.EventDetailsID
            var url = '@Url.Action("Record", "Payment", new { id = "__id__" })';
            window.location.href = url.replace('__id__', id);

        }

    </script>

    <partial name="_ValidationScriptsPartial" />
}

