@using Attila.Application.Coordinator.Events.Queries

@model EventClientVM

@{
    ViewData["Title"] = "Clients";
}

@section Scripts{
    <script type="text/javascript">
        function OnSuccess(e) {
            window.location = '/Clients/';
        }

        function OnBegin(e) {
            $('#btnSubmit').prop('disabled', true);
        }

        function OnFailure(e) {
            console.log(e);
            alert("Please enter the correct details!");
            $('#btnSubmit').prop('disabled', false);
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}
 


<div class="container-fluid">
    <h3 class="text-dark mb-4">  Client Form </h3>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3"></div>
                        <div class="card-body">
                            <form asp-controller="Clients"
                                  asp-action="AddClientDetails"
                                  data-ajax="true"
                                  data-ajax-method="POST"
                                  data-ajax-success="OnSuccess"
                                  data-ajax-begin="OnBegin"
                                  data-ajax-failure="OnFailure">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="food_details"><strong>Name</strong></label>
                                            <input type="text" asp-for="Name" placeholder="John Smith" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address"><strong>Email Address</strong></label>


                                            <input type="email" asp-for="Email" placeholder="john.smith@gmail.com" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="ContactNumber"><strong>Contact</strong></label>
                                            <input type="text" class="form-control" placeholder="09XXXXXX /  02XXXXXX" asp-for="Contact">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="address"><strong>Address</strong></label>

                                            <input type="text" asp-for="Address" placeholder="Sample St. Sample City" class="form-control">

                                        </div>
                                    </div>
                                </div>
                               


                                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Submit</button></div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>