
@{
    ViewData["Title"] = "Page Not Found";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
@model Attila.Application.Login.Queries.LoginDetailsVM

@section Styles {
    <link href="../assets/pages/css/login.css" rel="stylesheet" asp-append-version="true" />

    <style>
        .login {
            background-color: #fff !important;
        }
    </style>
} 
 <h1> ERROR PAGE NOT FOUND</h1>