
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
@model Attila.Application.Login.Queries.LoginDetailsVM

@section Scripts {
    <script type="text/javascript">
        function OnSuccess(e) {
            window.location = '/';
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}

<!-- Start: Login Form Clean -->
<div class="login-clean">
    <form asp-controller="Home"
          asp-action="SignIn"
          data-ajax-success="OnSuccess">

        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><img class="login-logo-icon" src="/assets/img/logo.svg"></div>
        <div class="form-group"><input class="form-control" type="text" asp-for="Username" placeholder="Username"></div>
        <div class="form-group"><input class="form-control" type="password" asp-for="Password" name="password" placeholder="Password"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
    </form>
</div>


<!-- End: Login Form Clean -->