
@{
    ViewData["Title"] = "Register Account";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model Attila.Application.Users.Queries.UserVM;
<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1>
            Register Account
            <small> </small>
        </h1>
    </div>
    <!-- END PAGE TITLE -->
    <!-- BEGIN PAGE TOOLBAR -->
    <div class="page-toolbar">

        <!-- BEGIN THEME PANEL -->
        <!-- END THEME PANEL -->
    </div>
    <!-- END PAGE TOOLBAR -->
</div>
<!-- END PAGE HEAD-->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
</ul>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-speech font-green"></i>
                    <span class="caption-subject bold font-green uppercase">Officer Profile</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-circle btn-outline green">
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                    <a href="javascript:;" class="btn btn-circle blue-steel btn-outline">
                        <i class="fa fa-plus"></i> Add
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <form role="form" asp-controller="Home" asp-action="AddUser" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">

                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" asp-for="Name" placeholder="John Smith" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" asp-for="Username" placeholder="John Smith" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-mail</label>
                        <input type="email" asp-for="Email" placeholder="john.smith@gmail.com" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" asp-for="Password" class="form-control">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Mobile Number</label>
                        <input type="text" asp-for="ContactNumber" placeholder="+63 9123456789" class="form-control">
                    </div>
                   

                    <div class="form-group">
                        <label class="control-label">Position</label>
                        <input type="text" asp-for="Position" placeholder="CEO/Event Coordinator" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Type of Officer</label>
                        <select class="form-control" asp-for="Role">
                            <option value="2">Admin</option>
                            <option value="3">Coordinator</option>
                            <option value="4">Chef</option>
                            <option value="5">Inventory Manager</option>

                        </select>
                    </div>
 

                    <div class="margin-top-10">
                        <button type="submit" id="btnSubmit" class="btn green">Register </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
<!-- End: life time stats -->

<partial name="partials/_SuccessfulRegistration.cshtml" />
@section Scripts{
    <script type="text/javascript">
        function OnSuccess(e){
                  $("#success").modal('show');


        }

        function OnFailure(e) { 
            alert("Please enter the correct details!");
        }

    </script>
} 